<!-- em casos/templates/casos/despesa_confirm_delete.html -->
{% extends 'core/base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}
{% block page_title %}Confirmar Exclusão de Despesa{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Tem certeza?</h5>
        <p class="card-text">
            Você está prestes a excluir permanentemente a despesa:
        </p>
        <p class="fw-bold">
            "{{ object.descricao }}" no valor de R$ {{ object.valor|floatformat:2 }}
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, tenho certeza. Excluir.</button>
            <a href="{% url 'casos:caso_detail' object.caso.pk %}#despesas-tab-pane" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}